body { background: #b6f0ae; text-align: center; }
h1 { text-align: center; }

#hint-text { }

.question-text { font-size: 2em; }

#result { margin-top: 10px; }
.correct { color: #0c6400; }
.incorrect { color: #640000; }

img { height: 400px; }

input[type=text] { font-size: 2em; }
